.toggle img {
	position:fixed;
	width:50px;
	right:3%;
	z-index:2;
}

.frame {
	position:fixed;
	height:95%;
	width:90%;
	z-index:-2;
	bottom:2.5%;
	top:2.5%;
	left:7%;
}

.toggle {
	z-index: 2;
	text-align:right;
}

.main-content {
	width:500px;
	border-style:solid;
	border-color: black;
	margin: 0 auto;
	padding:20px 30px 20px 30px;
}

.button {
	text-align:center;
	bottom:50px;
	border-color:black;
	border-style:solid;
	border-width:3px;
	padding: 15px 30px 15px 30px;
	width:560px;
	margin: 0 auto;
}

.button a {
	text-decoration:none;
	color:black;
	font-family:arial;
	padding: 15px 30px 15px 30px;
	width:100%;
}

.button a:hover {
	color:white;
}

.button:hover {
	background-color:black;
}

.menu {
	position:absolute;
	width:100%;
	height:100%;
	z-index:1;
	background-color:white;
}

.frame img {
	height: 100%;
	width: 100%;
}

body {
	margin:0px;
}

h1 {
	text-align:center;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color:white;
}

.real-body {
	top:130px;
	position:relative;
	font-family:arial;
	left:5%;
	width:90%;
}

ul {
	top:130px;
	position:relative;
	list-style-type: none;
	padding:0px;
}

ul li {
	text-align:center;
	font-family:arial;
	font-size:36px;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
}

ul li:hover {
	background-color: black;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    color:black;
}

p {
	font-family:arial;
}

.share-links {
	margin-left:10px;
	bottom:18px;
	position:fixed;
}

.link {
	border-style:solid;
	border-color:black;
	border-width:3px;
	width:50px;
	height:50px;
	margin-top:10px;
}
.link img{
	width:30px;
	height:30px;
	left:50%;
	margin-left:10px;
	margin-top:10px;
}