@font-face {
font-family: "DIN Engschrift";
src: url("DINEngschriftStd.eot");
src: 
url("DINEngschriftStd.woff") format("woff"),
url("DINEngschriftStd.otf") format("opentype"),
url("DINEngschriftStd.svg#filename") format("svg");
}

.toggle img {
	position:fixed;
	width:50px;
	right:3%;
	z-index:2;
}

.logo {
	position:fixed;
	width:100px;
	left:20px;
	z-index:2;
}

.logo a:hover{
	opacity:.5;
}

.frame {
	position:fixed;
	height:95%;
	width:100%;
	z-index:-2;
	bottom:10px;
	top:10px;
}

.frame img {
	height: 100%;
	width: 500px;
	margin:0 auto;
	display: block;
}

.toggle {
	z-index: 2;
	text-align:right;
}

.main-content {
	border-style:solid;
	border-color: black;
	border-width:1px;
	margin: 0 auto;
	padding:10px 20px 10px 20px;
	width:360px;
}

.button {
	text-align:center;
	bottom:50px;
	border-color:black;
	border-style:solid;
	border-width:1px;
	margin: 0 auto;
	width:100%;
	font-family: 'DIN Engschrift', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	text-align:center;
	font-size:24px;
	padding-top:8px;
	border-radius: 0;
}

.button a {
	text-decoration:none;
	color:black;
	width:100%;
}

.button:hover {
	background-color:black;
	color:white;
}

a .button {
	text-decoration:none;
}

.menu {
	position:absolute;
	width:100%;
	height:100%;
	z-index:1;
	background-color:white;
}

.toggle a:hover{
	
}

body {
	margin:0px;
}

h1 {
	font-family: 'DIN Engschrift', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	text-align:center;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color:white;
    font-size:42px;
    line-height:0px;
}

.real-body {
	top:200px;
	position:relative;
	font-family:arial;
	margin:auto;
	width:500px;
}

.content-wrapper {
	padding-bottom:10px;
}

ul {
	top:190px;
	position:relative;
	list-style-type: none;
	padding:0px;
}

ul li {
	text-align:center;
	padding-top:20px;
    padding-bottom:10px;
	font-family: 'DIN Engschrift', Arial, sans-serif;
	font-size:42px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color:white;
}
ul a {
	text-decoration:none;
}

ul a li:hover {
	background-color: black;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

ul a li:hover {
	-webkit-text-stroke-color: white;
	color:black;
}

p {
	font-family: 'DIN Engschrift', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	text-align:center;
	font-size:16px;
	padding:10px 20px 10px 20px;
	width:360px;
	margin:0 auto;
}

h2 {
	font-family: 'DIN Engschrift', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	text-align:center;
	font-size:22px;
}

.share-links {
	margin-left:10px;
	bottom:18px;
	position:fixed;
	z-index:2;
}

.link {
	border-style:solid;
	border-color:black;
	border-width:1px;
	width:50px;
	height:50px;
	margin-top:10px;
}

.link img{
	width:30px;
	height:30px;
	left:50%;
	margin-left:10px;
	margin-top:10px;
}

a .link:hover {
	background-color: black;
}

a .link img:hover{
	fill:white;
}

.mc-field-group {
	
}

.mc-field-group input {
	border-bottom: 1px solid black;
	padding:10px;
	margin-bottom:10px;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
}

#mc_embed_signup {
	clear:left;
	width:400px;
	font-family: 'DIN Engschrift', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	text-align:center;
	font-size:14px;
}

#mce-FNAME {
	width:170px;
	float:left;
	margin-left:5px;
}

#mce-LNAME {
	width:165px;
	float:left;
	margin-left:5px;
}

#mce-EMAIL {
	width:365px;
	}

#mce-MMERGE3 {
	width:365px;
}

@media only screen and (max-width: 517px) {
	.button {
		border-radius: 0;
		font-size:19px;
		-webkit-appearance: none;
		background-color: white;
	}

	#mc_embed_signup {
	font-size:12px;
	}

	.mc-field-group input {
		background-color:#F6F6F6;
		border-bottom-color:transparent;
	}

	.frame img {
		width:95%;
	}

	.real-body {
		width:70%;
		top: 150px;
	}

	.main-content {
		width:85%;
		background-color:white;
	}

	#mc_embed_signup {
		width:85%;
	}

	.mc-field-group {
		width:85%;
	}

	.mc-field-group input {
		margin-bottom:5px;
		padding-bottom:7px;
	}

	#mce-FNAME {
		width:200px;
		float:none;
		margin-left:0px;
	}

	#mce-LNAME {
		width:200px;
		float:none;
		margin-left:0px;
	}

	#mce-EMAIL {
		width:200px;
		}

	#mce-MMERGE3 {
		width:200px;
	}

	h1{
		font-size:28px;
	}

	h2{
		font-size:19px;
	}

	.logo {
		width:60px;
	}

	.share-links {
		display:none;
	}

	.main-content {
		padding:0px 5px 0px 5px;
	}

	.menu{
		top: 0px;
	}

	ul {
		top:130px;
	}
}

@media only screen and (max-width: 373px) {
	ul {
		top:100px;
	}

	.button {
		border-radius: 0;
		font-size:16px;
		-webkit-appearance: none;
		background-color: white;
	}

	h1{
		font-size:25px;
	}

	h2{
		font-size:16px;
		margin-top:10px;
		margin-bottom:5px;
	}

	#mc_embed_signup {
		font-size:12px;
	}

	.mc-field-group input {
		background-color:#F6F6F6;
		border-bottom-color:transparent;
	}

	.frame img {
		width:95%;
	}

	.real-body {
		width:70%;
		top: 100px;
	}

	.main-content {
		width:85%;
		background-color:white;
		padding:0px 5px 0px 5px;
	}

	#mc_embed_signup {
		width:85%;
	}

	.mc-field-group {
		width:85%;
	}

	.mc-field-group input {
		margin-bottom:5px;
		padding-bottom:7px;
	}

	#mce-FNAME {
		width:150px;
		float:none;
		margin-left:0px;
	}

	#mce-LNAME {
		width:150px;
		float:none;
		margin-left:0px;
	}

	#mce-EMAIL {
		width:150px;
		}

	#mce-MMERGE3 {
		width:150px;
	}

	ul li {
		font-size:24px;
	}
}







